<!DOCTYPE html>
<title>Video Manager</title>
<p>You are currently logged in as {{ name }}</p>
<a href='logout'>Logout</a>
<h1>File Manager</h1>
<a href="{{ url_for('upload_file') }}">Upload</a> /
<a href="{{ url_for('manage_file') }}">Manage</a>
<hr>

<table border="1">
    <tr>
        <th>File name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Action</th>
    </tr>
{% for (file, email, age, gender) in files_list %}
    <tr>
        <td>{{file}}</td>
        <td>{{email}}</td>
        <td>{{age}}</td>
        <td>{{gender}}</td>
        <td>
            <a href="{{ url_for('download_file', filename=file, email=email) }}">download</a>
            <a href="{{ url_for('delete_file', filename=file, email=email) }}">delete</a><br>
        </td>
    </tr>
{% endfor %}
</table>