<h1>Registration</h1>
<form action="/register" method="post">
    <p>Email</p>
    {{ form.email }}
    {% for message in form.email.errors %}
     {{ message }}
    {% endfor %}
    <p>Password (8-20 characters)</p>
    {{ form.password }}
    {{ form.hidden_tag() }}
    {% for message in form.password.errors %}
     {{ message }}
    {% endfor %}
    <br>
    <br>
    <input type="submit" value="Submit">
    {% if user_exist %}
    <p>{{ email }} has been registered!</p>
    {% endif %}
</form>
