<!DOCTYPE html>
<title>Upload Video</title>
<p>You are currently logged in as {{ name }}</p>
<a href='logout'>Logout</a>
<h1>Upload File</h1>
<a href="{{ url_for('upload_file') }}">Upload</a> /
<a href="{{ url_for('manage_file') }}">Manage</a>
<hr>

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.video(multiple="multiple")}}
    {% for error in form.video.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}<br>
    Age (month): {{ form.age }}
    {% for error in form.age.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}<br>
    Gender: {{ form.gender }}
    {% for error in form.gender.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}<br>
    {{ form.submit }}
</form>

{% if success %}
<br>
<p>Upload Success!</p>
{% endif %}
